@media only screen and (max-width: 1179px) {
  .main-nav-second {
  }
}
@media only screen and (max-width: 1160px) {
  .main-nav-second {
  }
}
@media only screen and (max-width: 1150px) {
  .main-nav-second {
  }
}
@media only screen and (max-width: 1130px) {
  .main-nav-second {
  }
}
@media only screen and (max-width: 1120px) {
  .main-nav-second {
  }
}
@media only screen and (max-width: 1110px) {
  .main-nav-second {
  }
}
@media only screen and (max-width: 1090px) {
  .main-nav-second {
  }
}
@media only screen and (max-width: 1200px) {
  .searchbar-list {
  }
  .searchbar-container {
    width: 85%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1040px) {
  .main-nav-second li {
  }
}
@media only screen and (max-width: 1015px) {
  .main-nav-second li {
  }
}
@media only screen and (max-width: 999px) {
  .main-nav-second li {
  }
}
@media only screen and (max-width: 975px) {
  .main-nav-second li {
  }
}
@media only screen and (max-width: 955px) {
  .main-nav-second {
  }
}

@media only screen and (max-width: 992px) {
  .searchbar-container {
    width: 50%;
    margin: auto;
  }
  .searchbar-item1 {
    width: 100%;

    height: 68px;
  }
  .searchbar-item2 {
    width: 99.8% !important;
    height: 68px;
  }
  .searchbar-item3 {
    width: 280px;
    height: 68px;
  }
  .searchbar-item4 {
    height: 68px;
  }
  .li-item-5 {
    height: 40%;

    grid-area: li-item-5;
  }
  .selection-tabs {
    margin-left: 0 !important;
  }
  .main-nav-second {
  }
}

@media only screen and (max-width: 960px) {
  .main-nav-second {
  }
}
@media only screen and (max-width: 910px) {
  .main-nav-second {
  }
}

@media only screen and (max-width: 863px) {
  .main-nav-second {
  }
}

@media only screen and (max-width: 833px) {
  .main-nav-second {
  }
}

@media only screen and (max-width: 813px) {
  .main-nav-second {
  }
}

@media only screen and (max-width: 796px) {
  .main-nav-second {
  }
}
@media only screen and (max-width: 776px) {
  .main-nav-second {
  }
}

@media only screen and (max-width: 1060px) {
  .searchbar-list {
    display: grid;
    height: 219px !important;

    grid-template-areas:
      "searchbar-item1 searchbar-item1"
      "searchbar-item2 searchbar-item2"
      "searchbar-item3 searchbar-item4";
  }

  .searchbar-container {
    width: 66%;
    margin: 0 auto;
  }

  .hotel-main-container {
    height: 30%;
    width: 85% !important;
    display: grid;
    align-items: start;
    grid-gap: 10px;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    padding: 20px;
    background-color: red;
  }
  .main-nav-second {
  }

  .selection-tabs {
    margin-left: 0 !important;
  }

  .searchbar-item1 {
    width: 600px;
    grid-area: searchbar-item1;
    height: 68px !important;
  }
  .searchbar-item2 {
    grid-area: searchbar-item2;
    width: 600px;
    height: 72px;
  }
  .searchbar-item3 {
    grid-area: searchbar-item3;
    width: 520px;
    height: 76px;
  }
  .searchbar-item4 {
    grid-area: searchbar-item4;
    height: 76px;
  }
}
@media only screen and (max-width: 972px) {
  .main-nav-second {
  }
  .hotel-main-container {
    height: 30%;
    width: 85% !important;
    display: grid;
    align-items: start;
    grid-gap: 10px;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    padding: 20px;
    background-color: red;
  }
  .searchbar-container {
    width: 37% !important;
    margin: auto;
  }
  .hotel-details {
    margin-left: -42px !important;
  }
}
@media only screen and (max-width: 640px) {
  .main-nav-second {
    display: none;
  }
}
/* 
  SUBSCRİBE */

.subscribe-container {
  display: grid;
  background-color: white;
  height: 130px;
  width: 1100px;
  margin: 0 auto;
  margin-top: 25px;
  box-shadow: var(--shadow);
  grid-template-columns: 1fr 2fr 2fr 1fr;
  position: relative;
}

.subscribe-image {
  background-image: url("./img/mail.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.subscribe-text h3 {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(167, 167, 167);
}

.subscribe-text h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: midnightblue;
  margin-top: 12px;
}

.subscribe-input {
  position: relative;
}

.subscribe-input-inside {
  position: absolute;
  bottom: 0px;
  right: -339px;
}
.new-scale {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.subscribe-input-inside a {
  padding: 7px 15px;
  color: white;
  background-color: #287dfa;
}

.subscribe-input input {
  padding: 4px 15px;
}

.subscribe-close {
  text-align: right;

  position: absolute;
  top: 5%;
  right: 1%;
}

@media only screen and (max-width: 1000px) {
  .new-scale {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-container {
    height: 200px;
  }
  .subscribe-input {
    display: flex;
  }
  .subscribe-input-inside {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1170px) {
  .searchbar-list {
    display: grid;
    height: 160px !important;
    grid-template-areas:
      "searchbar-item1 searchbar-item1 searchbar-item1"
      "searchbar-item2 searchbar-item3 searchbar-item4";
  }

  .selection-tabs {
    margin-left: 26px !important;
  }

  .searchbar-item1 {
    width: 99.5%;
    grid-area: searchbar-item1;
    height: 100% !important;
  }
  .searchbar-item2 {
    grid-area: searchbar-item2;
    width: 444px;
    height: 48px;
  }
  .searchbar-item3 {
    grid-area: searchbar-item3;
    width: 444px;
    height: 48px;
  }
  .searchbar-item4 {
    grid-area: searchbar-item4;
    height: 68px;
  }
  .li-item-5 {
    width: 100%;
    height: 40%;

    grid-area: li-item-5;
  }
  .li-item-5 {
    display: grid;
    grid-template-columns: 220px 220px;
  }
  .flex-me-baby-one-more-time {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .flex-me-baby-one-more-time a {
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 18px !important;
  }
  .main-nav-first ul {
    align-self: flex-start !important;
  }
  .main-nav-first li {
    margin-left: 0;
  }
  .main-nav-second {
    margin-left: 290px;
    margin-bottom: 24px;
  }
  .main-nav {
    justify-content: flex-start;
  }
  .li-item-5-sub {
  }
}
@media only screen and (max-width: 1180px) {
  .searchbar-list {
    width: 101.5%;
  }
}
